.horizon .NewList {
	width: 200px;
	padding: 0px;
}

.horizon .NewList .header {
	height: 30px;
}

.horizon .NewList .footer {
	height: 40px;
	text-align: center;
}

.horizon .NewList .deleteNode {
	top: -14px;
	position: relative;
	
	margin-left: 4px;

	display: none;
	background-image:url('../../resources/images/pencil-icons/stop-red-sml.png');
	width: 17px;
	height: 17px;
	background-size: 100% 100%;
}



.horizon .NewList .content {
	overflow-x: hidden;
	overflow-y: auto;
	margin-left: 4px;
}

.horizon .NewList .item {
	display: inline-block;
	width: 100%;
	margin-left: 0px;
	height: auto;
	cursor: pointer;
	overflow: hidden;

	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;

	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;

    -o-border-radius: 5px;
}

.horizon .NewList .item:hover {
	background: #898989;
}

.horizon .NewList .itemSelected {
	background: #8888EE;
	color: white;
}

.horizon .NewList .dijitTextBox {
	color: black;
}

.horizon .NewList .dijitButton {
	color: black;
}

.horizon .NewList .itemSelected:hover {
	background: #8888EE;
	color: white;
}

.horizon .NewList .content .itemContent {
	left: 0px;
	width: 800px;
	height: auto;
}


.horizon .NewList .item .icon {
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
	background-image:url('../../resources/images/pencil-icons/computer.png');
	width: 40px;
	height: 40px;
	background-size: 100% 100%;
}

.horizon .NewList .item .label {
	top: -16px;
	position: relative;
	display: inline-block;
}

.horizon .NewList .item .deleted {
	color: red;
}

