<div class='panel grid' style='width:500px;'>
	<div dojoAttachPoint='dvHeader'></div>
	<div dojoAttachPoint='dvContent' style="width:490px; height: 100%;"></div> 
	<div dojoAttachPoint='dvFooter' style='width: 100%;text-align: center;overflow: hidden;'>
		{% if editable %} 
		<div dojoType='dijit.form.ToggleButton' iconClass='dijitCheckBoxIcon' dojoAttachPoint='_tglEdit' dojoAttachEvent='onClick: editItems'>delete</div><div dojoType='dijit.form.Button' dojoAttachEvent='onClick: newItem' dojoAttachPoint='_btnNew'>new</div>
		{% endif %}
	</div>
</div>