<div class='panel' >
	<div class='homePanel' style='font-size:1em;overflow-y: auto;'>
		<h2 style='position: relative; top: -40px;'>Apstrata home</h2>
		<p>
			For the panels in this menu to work, you need to have an apstrata account configured with
			test data.
		</p>
		<p>
			You can register a free apstrata account at: http://www.apstrata.com/register
		</p>
		<p>
			To instantiate the test data:
			<ul>
				<li>Open to developer.apstrata.com/devConsole</li>
				<li>Login with your apstrata master credentials</li>
				<li>Create a script called InitDemo from the following code:</li>
				<textarea cols="10" rows="5">
					script
					// stuff
				</textarea>
				<button>copy code</button>
				<li>Run the script using the run button, you don't need to provide any parameters, 
				you should see the following message:</li>
				<pre>
{
	sucess: true
}
				</pre>
			</ul> 
			
			
			
		</p>
		<div style='clear: both;'></div>		
	</div>
</div>