<div class='panel'>
	<div class='homePanel' style='font-size:1em;'>
		<h2 style='position: relative; top: -40px;'>Apstrata blue Horizon</h2>
		<p>
			Blue horizon is a demo app of the Horizon Framework. 
		</p>
		<p>
			The horizon framework provides an original paradigm for implement the User Experience of
			data driven applications, by wrapping application elements into cascading panels inserted
			into a horizontal container.
		</p>
		<p>
			The concept provides better visuals abstraction for drop down menus, windows, pages and bread-crumbs.
		</p>
		<div style='clear: both;'></div>		
	</div>
</div>