<div>
	<div class='sortField'>
		<img dojoAttachPoint='imgUp' dojoAttachEvent='onmouseover: _upOn, onmouseout: _upOff, onclick: _ascending' class='off' src='{{ _horizonRoot }}/resources/images/pencil-icons/sml-up-arrow.png'><img dojoAttachPoint='imgDown' dojoAttachEvent='onmouseover: _downOn, onmouseout: _downOff, onclick: _descending' class='off' src='{{ _horizonRoot }}/resources/images/pencil-icons/sml-down-arrow.png'>
	</div>
	<div class='searchField'>
		<input type='text' dojoAttachPoint='fldSearchField' 
			dojoAttachEvent='onkeypress: filterChange' value='' />
	</div>
	<div style="clear:both"></div>
</div>
